<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="depth_camera_static_transform_publisher" args="0.0 0.0 0.0 -1.57 0.0 -1.57 support support_depth" />

    <!-- <param name="robot_description" textfile="$(find simulation)/urdf/urdf/chassis.urdf" /> -->
     <param name="robot_description" command="$(find xacro)/xacro $(find simulation)/urdf/xacro/model.xacro" />

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulation)/config/rvizmodel.rviz"/>

    <!-- <node pkg="arbotix_python" type="arbotix_driver" name="driver" output="screen">
        <rosparam command="load" file="$(find simulation)/urdf/xacro/control/control.yaml" />
        <param name="sim" value="true" />
    </node> -->
</launch>

<!-- rosrun teleop_twist_keyboard teleop_twist_keyboard.py -->
<!-- rostopic pub -r 10 /cmd_vel geometry_msgs/Twist '{linear: {x: 0.2, y: 0, z: 0}, angular: {x: 0, y: 0, z: 0.5}}' -->
